///* GLOBAL COLORS *///
$color-white: #fff !default;
$color-blue: #3f83f8 !default;
$color-cyan: #0493cc !default;
$color-orange: #ffb31a !default;
$color-blue-light: #ebf5ff !default;
$color-cyan-light: #e6f4fa !default;
$color-orange-light: #fff2d8 !default;


///* ICHEMISTRY BRAND COLORS *///
$color-primary: #1a465d !default;
$color-secondary: #246282 !default;
$color-tertiary: #f2f8fb !default;

///* SHADES OF GRAY *///
$color-gray-1: #0d0d0d !default;
$color-gray-2: #404040 !default;
$color-gray-3: #737373 !default;
$color-gray-4: #8c8c8c !default;
$color-gray-5: #a6a6a6 !default;
$color-gray-6: #f2f2f2 !default;

///* ERROR COLOR *///
$color-error: #ff3131 !default;
$color-error-light: #ffecea !default;


///* SUCCESS COLOR *///
$color-success: #27c281 !default;
$color-success-light: #dcf5eb !default;