/// * METRICS *///
$font-size: 1rem;
$line-height: 1.5;
$rhythm: calc($font-size * $line-height);
$ratio: 1.125;

/// NOTE!
/// Our type scale is 1.125 (Major Second),
/// 12px, 14px, 16px, 18px etc...
